@font-face {
  font-family: Gilroy;
  src: url('../fonts/Gilroy-Bold.eot');

  src: url('../fonts/Gilroy-Bold.eot') format('embedded-opentype'), 
    url('../fonts/Gilroy-Bold.ttf') format('woff'),
    url('../fonts/Gilroy-Bold.woff') format('truetype');
}

:root {
  /* colors */

  --main-color: #268cf5;
  --second-color: #ccd5e0;
  --bgc: #0f1e2d;
  --second-bgc: #000c18;

  /* backgroun image */

  --wave-bg: '../img/bg.svg';

  /* spaces */

  --main-space: 15px;
  --height-unit: 40px;
}